*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  html,body{
    height:100%;
  }
  .app{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:aliceblue;
  text-align: center;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #262727, #1191c8, #262727);
  height:100%;
  width:100%;
 
  }
  ul{
    display:block;
    width:100%;
    height:inherit;
  }
  ul{
    list-style-type:none;
  }
  li:nth-child(1)
  {
    position:absolute;
    left:10%;
    height:30px;
    width:30px;
    background:rgba(255,255,255,.2);
  }
  li:nth-child(2)
  {
    position:absolute;
    left:30%;
    height:45px;
    width:45px;
    background:rgba(255,255,255,.2);
  }
  li:nth-child(3)
  {
    position:absolute;
    left:50%;
    height:70px;
    width:70px;
    background:rgba(255,255,255,.2);
  }
  li:nth-child(4)
  {
    position:absolute;
    left:80%;
    height:20px;
    width:20px;
    background:rgba(255,255,255,.2);
  }
  li{
    animation:animate 15s linear 1s infinite;
  }
  #Progress_Status {
    width: 100%;
    background-color: #ddd;
   
  }       
  #myprogressBar {
    
    width: 1%;
    height: 25px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
  }
  #download{
    display: none;
  }
  @keyframes animate{
    from{
      transform: translateY(+1500%) rotate(180deg)
    }
    to{
      transform: translateY(-150%)
        rotate(360deg)
    }
  }